{% extends 'layout.twig' %}
{% block content %}
<!-- PEOPLE -->
{% if personsData %}
<div class="card mt-5">
	<div class="card-header">
		<h3>Dashboard</h3>
	</div>
	<a href="{{ 'user/new' | url }}" class="btn btn-outline-info btn-lg btn-block rounded-0">Add User</a>
	<div class="card-body">
		<div class="table-responsive">
			<table class="table">
				<thead>
					<tr>
						<th scope="col">#</th>
						<th scope="col">Name</th>
						<th scope="col">Birthday (Age)</th>
						<th scope="col">Address</th>
						<th scope="col">E-mail</th>
						<th scope="col" class="text-right">Options</th>
					</tr>
				</thead>
				<tbody>
					{% for user in usersData %}
						<tr>
							<td>{{ user.user_id }}</td>
							<td>{{ user.firstname }}</td>
							<td>{{ user.birthday | date('j F Y') }}</td>
							<td>{{ user.address }}</td>
							<td>{{ user.email }}</td>
							<td class="text-right">
								<a href="{{ 'people/profile/' | url }}{{ user.user_id }}"><i class="far fa-user fa-lg"></i></a> | 
								<a href="{{ 'people/delete/' | url }}{{ user.user_id }}"><i class="fas fa-trash-alt"></i></a> 
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</div>
{% else %}
	<div class="mt-5 text-center">
		<a href="{{ 'user/new' | url }}" class="my-5">
			<i class="fas fa-plus-circle fa-5x"></i>
			<div class="h4 my-4">
				Add user
			</div>
		</a>
	</div>
{% endif %}
{% endblock %}