{% extends 'layout.twig' %}
{% block content %}
<!-- PEOPLE -->
{% if personsData %}
<div class="card mt-5">
	<div class="card-header">
		<h3>All person</h3>
	</div>
	<a href="{{ 'people/new' | url }}" class="btn btn-outline-info btn-lg btn-block rounded-0">Add person</a>
	<div class="card-body">
		<table class="table">
			<thead>
				<tr>
					<th scope="col">#</th>
					<th scope="col">Name</th>
					<th scope="col">Birthday (Age)</th>
					<th scope="col">Address</th>
					<th scope="col">E-mail</th>
					<th scope="col" class="text-right">Options</th>
				</tr>
			</thead>
			<tbody>
				{% for person in personsData %}
					<tr>
						<td>{{ person.person_id }}</td>
						<td>{{ person.firstname }}</td>
						<td>{{ person.birthday | date('j F Y') }}</td>
						<td>{{ person.address }}</td>
						<td>{{ person.email }}</td>
						<td class="text-right">
							<a href="{{ 'people/profile/' | url }}{{ person.person_id }}"><i class="far fa-user fa-lg"></i></a> | 
							<a href="{{ 'people/delete/' | url }}{{ person.person_id }}"><i class="fas fa-trash-alt"></i></a> 
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>
{% else %}
	<div class="mt-5 text-center">
		<a href="{{ 'people/new' | url }}" class="my-5">
			<i class="fas fa-plus-circle fa-5x"></i>
			<div class="h4 my-4">
				Add person
			</div>
		</a>
	</div>
{% endif %}
{% endblock %}