{% extends 'layout.twig' %}
{% block content %}
<div class="container-fluid">
	{{ dump(productsData) }}
	<div class="row my-2">
		<div class="col-12">
			<div class="card bg-light mt-3">
				<div class="card-header">
					<h4 class="card-title">Add | Budget</h4>
				</div>
				<div class="card-body">
					<form method="post">
						{# <div class="table"> #}
							{% if productsData %}
							  <table class="table">
								  <thead>
								    <tr>
								      <th scope="col">Product Name</th>
								      <th scope="col">Description</th>
								      <th scope="col">Code</th>
								      <th scope="col">Options</th>
								    </tr>
								  </thead>

								  <tbody>
								  	{% for product in productsData %}
									    <tr>
									      <th>{{ product.name }}</th>
									      <td>{{ product.description }}</td>
									      <td>{{ product.name }}</td>
									      <td>
									      	<a href="{{ 'companies/delproduct/' | url }}{{ product.product_id }}"><i class="fas fa-trash-alt"></i></a>
									      </td>
									    </tr>
								    {% endfor %}
								  </tbody>
								</table>
							{% else %}
								<div class="d-none d-md-block">
								  <div class="row">
								    <div scope="col" class="col-2">Product name</div>
								    <div scope="col" class="col-5">Description</div>
								    <div scope="col" class="col-2">Code</div>
								  </div>
								</div>
							{% endif %}
							<input type="hidden" name="company_id" value="{{ company_id }}">
							<hr>
						  <div class="row">
						    <div class="col-md-3 my-2 col-sm-12">
					      	<input type="text" class="form-control" name="name" placeholder="Product Name" required>
								</div>
						    <div class="col-md-6 my-2 col-sm-12">
						    	<input type="text" name="description" class="form-control" placeholder="Description" required>
						    </div>
						    <div class="col-md-3 my-2 col-sm-12">
						    	<input type="number" name="code" class="form-control" placeholder="Code (opcional)">
						    </div>
						  </div>
						{# </div> #}
						<button type="submit" class="btn btn-outline-info btn-lg btn-block rounded-0">Save</button>
					</form>		
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
