	{% extends 'layout.twig' %}
{% block content %}
<div class="container-fluid">
	<div class="row my-2">
		{# Assitance #}
		<div class="col-12">
			<div class="card bg-light mt-3">
				<div class="card-header">
					<h4 class="card-title">Add | Budget</h4>
				</div>
				<a href="{{ 'budgets/' | url }}{{ event_id }}" class="btn btn-outline-info btn-lg btn-block rounded-0">Back</a>
				<div class="card-body">
					<form method="post" action="{{ 'budgets/items/' | url }}{{ budget_id }}">
						<div class="table">
							{% if productsData %}
							  <table class="table table-sm-responsive">
								  <thead>
								    <tr>
								      <th scope="col">Product Name</th>
								      <th scope="col">Price</th>
								      <th scope="col">Amount</th>
								      <th scope="col">Options</th>
								    </tr>
								  </thead>

								  <tbody>
								  	{% for item in itemsData %}
									    <tr>
									      <th>{{ item.name }}</th>
									      <td>{{ item.price|number_format(2, ',', '.') }}</td>
									      <td>{{ item.amount }}</td>
									      <td>
									      	<a href="{{ 'budgets/del_item/' | url }}{{ item.item_id }}"><i class="fas fa-trash-alt"></i></a>
									      </td>
									    </tr>
								    {% endfor %}
								  </tbody>
								</table>
								<div class="col-md-6 offset-md-6 col-12 text-right">
									<span class="h1">TOTAL: <span class="h3">{{ total |number_format(2, ',', '.')}}</span></span>
								</div>
							{% else %}
								<div class="d-none d-md-block">
								  <div class="row">
								    <div scope="col" class="col-6">Product</div>
								    <div scope="col" class="col-3">Price</div>
								    <div scope="col" class="col-3">Amount</div>
								  </div>
								</div>
							{% endif %}
							<hr>
						  <div class="row">
						    <div class="col-md-6">
									<select id="companyName" name="product_id" class="form-control mt-2 rounded-0" required>
					        <option value="">Choose...</option>
					        {% for product in productsData %}
					        	<option value="{{ product.product_id }}">{{ product.name }}</option>
							  	{% endfor %}
					      </select>
					      <input type="hidden" name="invoice_id" value="{{ budget_id }}">
					      <a href="{{ 'companies/products/' | url }}{{ company_id }}" class="btn btn-info mb-2 rounded-0"><i class="fas fa-plus-circle fa-lg"></i> Add Product</a>
								</div>
						    <div class="col-md-3 my-2 col-sm-12"><input type="number" min="0" class="form-control" name="price" placeholder="Price" step="0.01" required></div>
						    <div class="col-md-3 my-2 col-sm-12"><input type="number" name="amount" min="0" class="form-control" placeholder="Amount" required></div>
						  </div>
						</div>
						<button type="submit" class="btn btn-outline-info btn-lg btn-block rounded-0">Add Item</button>
					</form>		
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
