{% extends 'layout.twig' %}
{% block content %}
<!-- EVENTS -->
{% if activeEvent %}
<div class="card mt-5">
	<div class="card-header">
		<h3>Active Events</h3>
	</div>
	<a href="{{ 'events/new' | url }}" class="btn btn-outline-info btn-lg btn-block rounded-0">Create New Event</a>
	<div class="card-body">
		<div class="table-responsive">
			<table class="table">
				<thead>
					<tr>
						<th scope="col">#</th>
						<th scope="col">Event Name</th>
						<th scope="col">Place</th>
						<th scope="col">Date</th>
						<th scope="col">Encharge</th>
						<th scope="col" class="text-right">Options</th>
					</tr>
				</thead>
				<tbody>
					{% for event in activeEvent %}
						<tr>
							<td>{{ event.id }}</td>
							<td>{{ event.name }}</td>
							<td>{{ event.place }}</td>
							<td>{{ event.event_date }}</td>
							<td><img src="http://www.piachievers.com/img/users-male-2.png" class="rounded-circle border border-success" width="30" height="30" alt="profile img"> Yefri Gonzalez</td>
							<td class="text-right">
								<a href="{{ 'events/edit/' | url }}{{ event.id }}"><i class="far fa-edit fa-lg"></i></a> | 
								<a href="{{ 'events/manage/' | url }}{{ event.id }}"><i class="fas fa-cogs fa-lg"></i></a> | 
								<a href="{{ 'events/delete/' | url }}{{ event.id }}"><i class="fas fa-trash-alt"></i></a> 
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</div>
{% else %}
	<div class="mt-5 text-center">
		<a href="{{ 'events/new' | url }}" class="my-5">
			<i class="fas fa-plus-circle fa-5x"></i>
			<div class="h4 my-4">
				Create New Event
			</div>
		</a>
	</div>
{% endif %}

{% if oldEvents %}
<!-- OLD EVENTS -->
<div class="card mt-5">
	<div class="card-header">
		<h3>Event Log</h3>
	</div>
	<div class="card-body">
		<table class="table">
			<thead>
				<tr>
					<th scope="col">#</th>
					<th scope="col">Event Name</th>
					<th scope="col">Budget</th>
					<th scope="col">Cost</th>
					<th scope="col">Encharge</th>
					<th scope="col">Edit</th>
					<th scope="col">Manage</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>1</td>
					<td>First Event</td>
					<td>5.234,59</td>
					<td>6.700,00</td>
					<td><img src="http://www.piachievers.com/img/users-male-2.png" class="rounded-circle border border-success" width="30" height="30" alt="profile img"></td>
					<td><a href="edit"><i class="far fa-edit fa-lg"></i></a></td>
					<td><a href="manage"><i class="fas fa-cogs fa-lg"></i></a></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
{% endif %}
{% endblock %}