{% extends 'layout.twig' %}
{% block content %}
<div class="container-fluid">
	<div class="row my-2">
		<div class="col-lg-6 col-md-12">
			<div class="card bg-light mt-3">
				<div class="card-body">
					<span class="card-title h2">{{ eventData.name | upper }} </span><span>{{ eventData.event_date | date("l, j F Y") }}</span>
					<hr>
					<span class="h4">Place: </span><span class="card-text">{{ eventData.place }}</span>

					<br>
					
					<span class="h4">Description: </span><p class="card-text">{{ eventData.description }}</p>
				</div>
			</div>
		</div>
		<div class="col-lg-6 col-md-12">
			<div class="card bg-light mt-3">
				<div class="card-body">
					<div class="row">
						<div class="col-md-6 col-sm-12 mb-3">
							<h3>BUDGET</h3>
							{% if totalBudget %}
								<a href="{{ 'budgets/' | url }}{{ eventData.id }}" class="btn btn-info my-2"><i class="far fa-eye fa-lg"></i> View Budgets</a>
							{% endif %}
						</div>
						<div class="col-md-6 col-sm-12 mb-3">
							{% if totalBudget %}
								<p class=" display-3 text-md-right text-center">{{ totalBudget|number_format(2, ',', '.') }}</p>
							{% else %}
								<a href="{{ 'budgets/add/' | url }}{{ eventData.id }}" class="btn btn-info btn-block my-2 text-left"><i class="fas fa-plus-circle fa-lg"></i> <span class="float-right">Add Budget</span></a>
							{% endif %}
						</div>
						<hr>
						{# COST NEED TO BE PROGRAMMED #}
					{# 	<div class="col-md-6 col-sm-12 mb-3">
							<h3>COST</h3>
							{% if sumCosts %}
								<a href="{{ 'costs/' | url }}{{ eventData.id }}" class="btn btn-info my-2"><i class="far fa-eye fa-lg"></i> View Cost</a>
							{% endif %}
						</div>
						<div class="col-md-6 col-sm-12 mb-3">
							{% if sumcosts %}
								<p class=" display-3 text-md-right text-center">98,00{*}</p>
							{% else %}
								<a href="{{ 'costs/add/' | url }}{{ eventData.id }}" class="btn btn-info btn-block my-2 text-left"><i class="fas fa-plus-circle fa-lg"></i> <span class="float-right">Add Cost</span></a>
							{% endif %}
						</div> #}
					</div>
				</div>
			</div>
		</div>

		{# Assitance #}
		<div class="col-12">
			<div class="card bg-light mt-3">
				<div class="card-header">
					<h4 class="card-title">Attendant</h4>
				</div>
				<div class="card-body">
					<form method="post" action="{{ 'events/manage/' | url }}{{ eventData.id }}">
						<div class="row">

					    <div class="col-md-6">
								<select id="people" name="person_id" class="form-control mt-2 rounded-0" required>
				        <option value="">Choose person</option>
				        {% for person in persons %}
				        	{% set attendantReady = 0 %}
				        	{% for attendant in attendants %}
				        		{% if attendant.person_id == person.person_id %}
						        	{% set attendantReady = 1 %}
				        		{% endif %}
				        	{% endfor %}
			        		{% if not attendantReady %}
				        		<option value="{{ person.person_id }}">
					        		{{ person.firstname }} {{ person.lastname }}
					        	</option>
			        		{% endif %}
						  	{% endfor %}
				      </select>
				      <a href="{{ 'people/new' | url }}" class="btn btn-info mb-2 rounded-0"><i class="fas fa-plus-circle fa-lg"></i> Add Person</a>
							</div>

							<div class="col-md-6">
								<select id="functions" name="register_as" class="form-control mt-2 rounded-0" required>
				        <option value="">Choose function</option>
				        {% for function in functions %}
				        	<option value="{{ function.function_id }}">
				        		{{ function.name }}
				        	</option>
						  	{% endfor %}
				      </select>
				      <a href="" class="btn btn-dark mb-2 rounded-0"><i class="fas fa-plus-circle fa-lg"></i> Add Function</a>
							</div>
					  </div>
					  <input type="hidden" name="event_id" value="{{ eventData.id }}">
					  <button type="submit" class="btn btn-outline-info btn-lg btn-block rounded-0 mb-3">Save Assitance</button>
					</form>

					<div class="row">
						{% for attendant in attendants %}
							<div class="col-lg-4 col-md-6 col-sm-12 mb-2">
								<div class="card d-inline-block w-100">
									<div class="row">
										<div class="col-2 h-100 align-middle">
											<img src="http://www.piachievers.com/img/users-male-2.png" class="rounded-circle border border-success m-2" width="30px" height="30px" alt="profile img">
										</div>
										<div class="col-10">
											<span class="font-weight-bold">{{ attendant.firstname }} {{ attendant.lastname }}</span> <span class="font-italic text-right">({{ attendant.name }})</span>
										</div>
										<div class="col-12">
											<div class="m-2 d-block text-right">
												<a href="{{ 'people/profile/' | url }}{{ attendant.person_id }}"><i class="far fa-edit fa-lg mx-1"></i></a> |
												<a href="{{ 'people/profile/' | url }}{{ attendant.person_id }}"><i class="far fa-user fa-lg mx-1"></i></a> | 
												<a href="{{ 'events/remove_attendant/' | url }}{{ attendant.event_id }}/{{ attendant.register_id }}"><i class="fas fa-times fa-lg mx-1"></i></a>
											</div>
										</div>
									</div>
								</div>
							</div>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}